/* body {
  background: rgb(147,154,155);
} */
.calculator {
  width: 320px;
  margin: 100px auto;
  border: 4px solid black;
  padding: 10px 30px;
  border-radius: 25px;
  background: black;
}
.calculator h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#inputBox {
  background-color: transparent;
  padding: 10px;
  font-size: 35px;
  width: 294px;
  height: 45px;
  text-align: right;
  border: 2px solid white;
  color:white;
  border-radius: 20px;
  margin-bottom: 5px;
}
.all {
  display: grid;
  grid: auto/auto auto auto;
  gap: 15px;
  margin-top: 10px;
}
.button{
  background-color: white;
  border-radius: 40px;
  height: 75px;
  width: 98px;
  color: black;
  font-size: 30px;
  border: none;
  float: left;
  font-weight: 600;
}
.sign {
  background-color: #6a6af0;
  font-size: 40px;
  color: white;
}
.main {
  color: white;
  background-color: #5b5bd8;
  font-weight: 700;
}